<!DOCTYPE html>
<html>
<head>
	<script src="./mathFunctions.js"></script>
	<title>W09 TEACH Math Page</title>
</head>
<body>
<h1>Welcome to the Math Page!</h1>
<p>Let's do some really cool math.</p>
<p>Enter a number into each field and select your math function.</p>
<form action="/math">
	Num 1<br/>
	<input id="num1" name="num1"/><br/>
	Num 2<br/>
	<input id="num2" name="num2"/><br/>
	<br/>
	<br/>
	<button name="submit" value="Add">Add</button>
	<button name="submit" value="Subtract">Subtract</button>
	<button name="submit" value="Divide">Divide</button>
	<button name="submit" value="Multiply">Multiply</button>
</form>

<h1>Want to do some more cool math?</h1>
<p>Why not Calculate USPS shipping costs.</p>
<a class="button-thankyou" href="/postal">Calculate Here</a>
</body>
</html>



