<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="lang-logo">
  		<img src="/envelope.png">
    	</a>
			<h1>Postal Rates</h1>
			<p>This is a simple Nodejs application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
		</div>
	</div>
	<div class="container">
		<hr>
		<div id="mailInfo" class="row">
			<div class="col-md-6">
				<h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
				<form action="/calculateShipping" method="get">
					<p>Enter the weight of your item in pounds (lb) and ounces (oz).</p>
					<label>lb: <input type="number" name="lb"></label>
					<label>oz: <input type="number" name="oz"></label>
					<br><br>
					<p>Select from the mailing types below.</p>
					<select name="type">
							<option selected>Mail Type</option>
							<option name="stamped">First Class Letter: Stamped</option>
							<option name="metered">First Class Letter: Metered</option>
							<option name="flat">First Class Envelope: Large Flat</option>
							<option name="package">First Class Package</option>
						</select>
					<br><br>
					<input type="submit" value="Calculate Your Shipping Cost" class="submitButton">
					<br><br>
				</form>
    		</div>
    		<div id="priceInfo" class="col-md-6"></div>
  </div> <!-- row -->
		<footer class="alert alert-info text-center" role="alert">
			&copy; 2019 Kimberly Llanos | Made from the Template at <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Heroku/Express Framework</a> | Created for CS313 <a href="https://www.byui.edu">Brigham Young University - Idaho</a>
		</footer>
	</div>
</body>

</html>


